@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border: 6px solid #f3f3f3; /* Adjusted border width */
  border-top: 6px solid rgb(30, 64, 175); /* Adjusted top border width */
  border-radius: 50%; /* Keeps the circular shape */
  width: 24px; /* New width */
  height: 24px; /* New height */
  animation: spin 2s linear infinite; /* Animation remains unchanged */
}

@keyframes spin {
  0% { transform: rotate(0deg); } /* Rotation keyframe remains unchanged */
  100% { transform: rotate(360deg); } /* Rotation keyframe remains unchanged */
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px; /* Use half of the width to center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

