<div id="flash-messages">
  <% if notice %>
    <p class="notice p-2 bg-green-200 border-l-green-800 border border-l-8 border-solid font-semibold">Relatório deve conter no mínimo um arquivo .xml <span class="bg-gray-200 hover:bg-gray-300 rounded-3xl px-1 hover:cursor-pointer ml-3" onclick="document.getElementById('flash-messages').style = 'display:none;'">x</span></p>
  <% end %>
  <% if alert %>
    <p class="notice p-2 bg-red-200 border-l-red-800 border border-l-8 border-solid font-semibold">Relatório deve conter no mínimo um arquivo .xml <span class="bg-gray-200 hover:bg-gray-300 rounded-3xl px-1 hover:cursor-pointer ml-3" onclick="document.getElementById('flash-messages').style = 'display:none;'">x</span></p>
  <% end %>
</div>
<div class="flex justify-center w-full py-6">
  <h1 class="text-4xl font-bold">Relatórios</h1>
</div>
<div class="h-full w-full flex justify-center px-40">
  <div class="flex flex-col w-full py-8 px-14 rounded-3xl bg-neutral-800 mb-10">
    <div class="w-full mb-2">
      <%= turbo_frame_tag 'new_report' do %>
        <%= button_to "Novo relatório", reports_new_path, method: :get, class: "p-3 w-40 rounded-3xl bg-blue-700 hover:bg-blue-800 text-slate-200 font-semibold" %>
      <% end %>
    </div>
    <ul id="reports">
      <li class="p-4 flex justify-around">
        <div class="w-1/5 flex">
          <span class="font-semibold text-slate-200 text-lg">Status</span>
        </div>
        <span class="w-2/5 font-semibold text-slate-200 text-lg">Nome</span>
        <span class="w-1/5 font-semibold text-slate-200 text-lg">Criado em</span>
        <div class="w-1/5 flex justify-center">
          <span class="font-semibold text-slate-200 text-lg">Ações</span>
        </div>
      </li>
      <% @reports.each do |report| %>
        <%= render report %>
      <% end %>
    </ul>
  </div>
</div>
